<h2>Routes Lazy Load</h2>
<p>Router Lazy load with angular</p>

<ul>
  <li><a routerLink="/auth/login" routerLinkActive="active" >Go Login!</a></li>
  <li><a routerLink="/auth/register" routerLinkActive="active" >Go Register!</a></li>
  <li><a routerLink="hero" routerLinkActive="active" >Go Hero!</a></li>
</ul>
<router-outlet></router-outlet>
